$blue-color: #3E38F5;
$white-color: #fff;
$text-color: #141418;
$link-color: #9896EA;
$validation-color: #fd5e00;

$primary-color: #eeb649;

$background: #ededed;

$mx-width: 450px;

html {
  font: {
    family: Mulish, sans-serif;
    size: 62.5%;
    weight: 400;
  }

  color: $text-color;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.h2-heading {
  font: {
    size: 3.8rem;
    weight: 800;
  }

  text-align: center;
  width: 100%;
  margin: 0 0 1rem;
}

.paragraph {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
  line-height: 2.4rem;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;

  .body {
    .title {
      text-align: center;
      font-size: 2.4rem;
      margin: 0 0 8px 0;
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: row;
      background-color: $white-color;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: .5);

      %layout {
        padding: 3.2rem;
        width: $mx-width;
        position: relative;

        &.active {
          background-color: $white-color;
        }
      }


      &-left {
        @extend %layout;

        &-content-login {
          opacity: 0;
          visibility: hidden;
          transition: all .6s;
        }

        .container-content {
          transform: translateX(0%);
          opacity: 1;
          visibility: visible;
          transition: all .6s;
        }

        &.active {
          .container {
            &-left-content-login {
            @extend %form-active;
          }

            &-content {
              transform: translateX(100%);
              opacity: 0;
            }
          }
        }
      }
      %form-active{
        opacity: 1;
        visibility: visible;
        transition: all .6s;
      }

      &-right {
        @extend %layout;

        &-content-signup {
          opacity: 0;
          visibility: hidden;
        }

        .container-content {
          transform: translateX(0%);
          opacity: 1;
          visibility: visible;
          transition: all .6s;
        }

        &.active {
          .container {
            &-right-content-signup {
              @extend %form-active;
            }

            &-content {
              transform: translateX(-100%);
              opacity: 0;
            }
          }
        }


      }

      &-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white-color;
        text-shadow: 0 0 2px #000;
        background-color: $primary-color;

        .paragraph {
          margin: 3rem 2rem;
          font-size: 1.6rem;
        }

        &-login-other {
          display: flex;
          justify-items: center;
          align-items: center;
          flex-direction: column;

          &-border {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 2.8rem;
            height: 2.8rem;
            border: .01px solid #000;
            border-radius: 50%;
            margin: 0 8px;
            color: $text-color;

            i {
              font-size: 1.3rem;
            }
          }

          &-title {
            display: block;
            margin: 8px 0 16px;
          }
        }

        &-button {
          border: 0.5px solid #fff;
          background: transparent;
          padding: 1.4rem 4rem;
          border-radius: 24px;
          text-transform: uppercase;

          &:hover {
            cursor: pointer;
          }

          &:active {
            transform: scale(.95);
            transition: all .2s;
          }
        }
      }

      .form {
        &-container {
          &-input {
            width: 100%;
            overflow: hidden;
            border-radius: 8px;
            margin: 1rem;

            input {
              display: block;
              width: 100%;
              height: 100%;
              padding: 12px;
              font-size: 1.8rem;
              border-radius: 8px;
              border: .5px solid #000;
              background: $background;
              border: none;
            }
          }
        }

        &-remember {
          display: flex;
          justify-content: center;

          a {
            text-decoration: none;
            color: $primary-color;

            font: {
              size: 1.6rem;
            }

            &:hover {
              cursor: pointer;
              filter: brightness(1.1);
            }
          }
        }

        &-submit {
          display: flex;
          margin: 16px 0;
          justify-content: center;
          width: 100%;

          input[type="submit"] {
            padding: 12px 0;
            font-size: 1.8rem;
            border: none;
            background-color: $primary-color;
            color: $white-color;
            border-radius: 8px;
            padding: 12px 32px;
            text-transform: uppercase;

            &:hover {
              cursor: pointer;
              filter: brightness(.9);
              transition: all .4s;
            }
          }
        }

        &-validate {
          font-size: 1.6rem;
          color: $validation-color;
          padding-left: 16px;
        }
      }

    }
  }
}
