html {
  font-family: Mulish, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: #141418;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.h2-heading {
  font-size: 3.8rem;
  font-weight: 800;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem;
}

.paragraph {
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
  line-height: 2.4rem;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed;
}
.main .body .title {
  text-align: center;
  font-size: 2.4rem;
  margin: 0 0 8px 0;
}
.main .body .container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.main .body .container .container-right, .main .body .container .container-left {
  padding: 3.2rem;
  width: 450px;
  position: relative;
}
.main .body .container .active.container-right, .main .body .container .active.container-left {
  background-color: #fff;
}
.main .body .container-left-content-login {
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.main .body .container-left .container-content {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: all 0.6s;
}
.main .body .container-left.active .container-left-content-login {
  opacity: 1;
  visibility: visible;
}
.main .body .container-left.active .container-content {
  transform: translateX(100%);
  opacity: 0;
}
.main .body .container-right-content-signup {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.main .body .container-right .container-content {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: all 0.6s;
}
.main .body .container-right.active .container-right-content-signup {
  opacity: 1;
  visibility: visible;
  transition: all 0.6s;
}
.main .body .container-right.active .container-content {
  transform: translateX(-100%);
  opacity: 0;
}
.main .body .container-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-shadow: 0 0 2px #000;
  background-color: #eeb649;
}
.main .body .container-content .paragraph {
  margin: 3rem 2rem;
  font-size: 1.6rem;
}
.main .body .container-content-login-other {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.main .body .container-content-login-other-border {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 2.8rem;
  height: 2.8rem;
  border: 0.01px solid #000;
  border-radius: 50%;
  margin: 0 8px;
  color: #141418;
}
.main .body .container-content-login-other-border i {
  font-size: 1.3rem;
}
.main .body .container-content-login-other-title {
  display: block;
  margin: 8px 0 16px;
}
.main .body .container-content-button {
  border: 0.5px solid #fff;
  background: transparent;
  padding: 1.4rem 4rem;
  border-radius: 24px;
  text-transform: uppercase;
}
.main .body .container-content-button:hover {
  cursor: pointer;
}
.main .body .container-content-button:active {
  transform: scale(0.95);
  transition: all 0.2s;
}
.main .body .container .form-container-input {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin: 1rem;
}
.main .body .container .form-container-input input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px;
  font-size: 1.8rem;
  border-radius: 8px;
  border: 0.5px solid #000;
  background: #ededed;
  border: none;
}
.main .body .container .form-remember {
  display: flex;
  justify-content: center;
}
.main .body .container .form-remember a {
  text-decoration: none;
  color: #eeb649;
  font-size: 1.6rem;
}
.main .body .container .form-remember a:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.main .body .container .form-submit {
  display: flex;
  margin: 16px 0;
  justify-content: center;
  width: 100%;
}
.main .body .container .form-submit input[type=submit] {
  padding: 12px 0;
  font-size: 1.8rem;
  border: none;
  background-color: #eeb649;
  color: #fff;
  border-radius: 8px;
  padding: 12px 32px;
  text-transform: uppercase;
}
.main .body .container .form-submit input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(0.9);
  transition: all 0.4s;
}
.main .body .container .form-validate {
  font-size: 1.6rem;
  color: #fd5e00;
  padding-left: 16px;
}
.main .login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .login-title {
  max-width: 450px;
  width: 100%;
  padding-bottom: 2rem;
}
.main .login-form {
  max-width: 450px;
  width: 100%;
}
.main .login-form-container {
  margin: 16px 0;
}
.main .login-form-container:last-child {
  margin: 16px 0 8px 0;
}
.main .login-form-container label {
  font-size: 1.8rem;
}
.main .login-form-container-input {
  width: 100%;
  border: 1px solid #141418;
  border-radius: 8px;
  overflow: hidden;
}
.main .login-form-remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 1rem 0 1.6rem 0;
}
.main .login-form-remember a {
  text-decoration: none;
  color: #9896EA;
}
.main .login-form-create-account {
  font-size: 1.8rem;
}
.main .login-form-create-account a {
  text-decoration: none;
  color: #9896EA;
}

/*# sourceMappingURL=style.css.map */
